name: Test Batch
on: pull_request
jobs:
  test-batch:
    name: Test Batch
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
      - name: Setup safe-chain
        run: curl -fsSL https://raw.githubusercontent.com/AikidoSec/safe-chain/main/install-scripts/install-safe-chain.sh | sh -s -- --ci
      - name: Install Dependencies
        run: |
          npm install -g @dotenvx/dotenvx
          npm install
          npm run json2ts:qiita
          npm run prisma:generate
        working-directory: backend/batch
      - name: Run ESLint
        run: npm run eslint:lint
        working-directory: backend/batch
      - name: Run TypeCheck
        run: npm run typescript:lint
        working-directory: backend/batch
      - name: Run Test
        env:
          DOTENV_PRIVATE_KEY_ENV: ${{ secrets.DOTENV_PRIVATE_KEY_ENV }}
        run: npm run ncs:test
        working-directory: backend/batch
      - name: Report Coverage
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          working-directory: backend/batch
